.el1{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.20.jpg);
    background-size:cover;
    background-position: center;
    color:white;font-size: 60px; place-content:center;
    background-attachment:fixed; 
}

.el2{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.5.avif);
    background-size:cover;
    background-position: center;
    color:#cac9d4; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el3{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.1.jpg);
    background-size:cover;
    background-position: center;
    color:#cac9d4; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el4{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.2.jpg);
    background-size:cover;
    background-position: center;
    color:#cac9d4; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el5{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.3.png);
    background-size:cover;
    background-position: center;
    color:#02010f; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el6{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.4.jpg);
    background-size:cover;
    background-position: center;
    color:#010007; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el7{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.8.png);
    background-size:cover;
    background-position: center;
    color:#02010b; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el8{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.15.jpg);
    background-size:cover;
    background-position: center;
    color:#02010d; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el9{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.16.jpg);
    background-size:cover;
    background-position: center;
    color:#02010c; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el10{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.21.png);
    background-size:cover;
    background-position: center;
    color:#000003; font-size: 60px; place-content: center;
    background-attachment:fixed;
}

.el11{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.9.png);
    background-size:cover;
    background-position: center;
    color:#02020c; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el12{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.12.png);
    background-size:cover;
    background-position: center;
    color:#010107; font-size: 90px; place-content: center;
    background-attachment:fixed;
}
.el13{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.13.webp);
    background-size:cover;
    background-position: center;
    color:#02000e; font-size: 90px; place-content: center;
    background-attachment:fixed;
}
.el14{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.14.jpg);
    background-size:cover;
    background-position: center;
    color:#02010c; font-size: 90px; place-content: center;
    background-attachment:fixed;
}
.el15{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.10.jpg);
    background-size:cover;
    background-position: center;
    color:#01000b; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el16{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.11.png);
    background-size:cover;
    background-position: center;
    color:#02010b; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el17{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.22.jpg);
    background-size:cover;
    background-position: center;
    color:#01010a; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el18{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.23.jpg);
    background-size:cover;
    background-position: center;
    color:#cac9d4; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
.el19{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.25.jpg);
    background-size:cover;
    background-position: center;
    color:#cac9d4; font-size: 60px; place-content: center;
    background-attachment:fixed;
}

.el20{
    width: 100%;
    height:100vh;
    background-image:url(assets/day2.26.jpeg);
    background-size:cover;
    background-position: center;
    color:#160c8a; font-size: 60px; place-content: center;
    background-attachment:fixed;
}
